
h1{
    color: red;
}
#exampleModalCnterTitle{
    width: 1000px !important;
    margin: auto !important;
}

body{
    background-color: rgb(245, 245, 209) !important;
}

section{
    padding-top: 50px !important;
    padding-top: 30px !important;
}

footer{
    background-color: black;
    padding-top: 5em;
   
}

#pics{
    padding-bottom: 60px;
}