{%extends 'folder/base.html'%}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            {% if pics %}
            {% else %}
            <h2>Found 0 pics for the search term. {{ message }}.</h2>
            {% endif %}
        </div>


        <div class="row">
            {% if pics %}
            {% for pic in pics %}
            <div class="col-sm-6 col-md-6">

                <div class="card" style="width: 18rem;">
                    <img src="{{ pic.cover.url }}" class="img-responsive card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ pic.title }}</h5>
                        <p class="card-text">{{pic.post}}</p>  
                    </div>
                </div>
                <br>
                <br>
            </div>


            <div class="col-sm-6 col-md-6">
            </div>
            {% endfor %}
            {% endif %}

        </div>
    </div>
</section>
{% endblock %}